.content{
  margin-top:40px;
  position: relative;
  width:1200px;
  overflow: hidden;
  background-color:#ffffff;
  box-shadow: 0px 0px 50px 1px;
}
.article{
  padding:80px;
  padding-left:140px;
  position: relative;
  height:400px;
}
.article-title{
  font-size:60px;
  width:500px;
  bottom:50px;
  right:50px;
  position: absolute;
  z-index: 1;
  color:white;
}

.article-title2{
  font-size:60px;
  width:500px;
  top:100px;
  position:absolute;
  right:30px;
}
.article-text{
  padding:20px;
  font-size:44px;
  margin-top:0px;
}
.art-q{
  color:#878426;;
}
.article-img{
  width:1200px;
  
  position:absolute;
  object-fit: cover;
  right:0px;
  top:0px;
  z-index:0;
}
.article-img2{
  width:900px;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
  
}

.fadededge{
  color:#ffffff;
  background-color: rgba(0,0,0,0.6);
  font-weight: bold;
  width:900px;
  height:350px;
  position: absolute;
  z-index: 1;
  right:150px;
  top:100px;
  text-align: center;
  border:1px solid white;
  
}
.con-title{
  border:1px solid white;
  width:600px;
  margin-left:300px;
  
  background-color:rgba(0,0,0, 0.5);
  margin-top:50px;
  text-align:center;
  Color:white;
  padding:20px;
}